<p>
<form method="get" action="/quizes">
      <input type="text" name="search" value=""/>
      <input type="submit" value="Enviar"/>
</form>
</p>
<br>
<p>
<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr>
      <td align="left" width=25%><%= quizes[i].tema %></td>
      <td width=55%><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <%if (session.user){%>
        <td width=10%><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
        <td width=10%>
          <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
              borrar
            </button>
          </form>
        </td>
      <%}%>
    </tr>
  <% } %>
</table></p>
<br>
<%if(session.user){%>
  <p><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>
<%}%>
